.P142 {
  border: solid 1px black;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  padding: 20px 0;
}

.msg {
  display: block;
  color: red;
  /* border: solid 1px black; */
  width: 500px;
  height: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;
  /* margin-bottom: 10px; */
}

.checkCode {
  position: relative;
}

.code {
  position: absolute;
  top: 15px;
  right: 40px;
  text-decoration: none;
  color: rgb(68, 171, 142);
}

.P142 input {
  display: block;
  margin: 10px auto;
  margin-bottom: 6px;
  width: 300px;
  height: 50px;
  padding-left: 50px;
  border: solid 1px rgb(141, 141, 141);
  font-size: 18px;
  border-radius: 5px;
}

.P142 ::placeholder {
  color: rgb(167, 167, 167);
}

.name {
  background: url('/icon/people.png') no-repeat;

}

.tel {
  background: url('/icon/phone.png') no-repeat;
}

.message {
  background: url('/icon/tips.png') no-repeat;
}

.password {
  background: url('/icon/lock.png') no-repeat;
}

.again {
  background: url('/icon/lock.png') no-repeat;

}

.name,
.tel,
.message,
.password,
.again {
  background-position: 10px;
  background-size: 8%;
}

.agreeBOx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreeBOx .gouxuan {
  height: 15px;
  width: 20px;
  display: inline;

  margin-top: 30px;
  margin-left: 20px;
}

.agreeBOx .agree {
  display: inline;
}

.P142 button {
  display: block;
  width: 360px;
  height: 50px;
  margin: 20px auto;
}

.unChecked {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* border: solid 1px black; */
  cursor: pointer;
}

.unChecked::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  /* border: solid 1px black; */
  background: url('/icon/勾选框-未勾选.png')no-repeat;
  background-size: contain;
}

.Checked::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  /* border: solid 1px black; */
  background: url('/icon/勾选框-勾选.png')no-repeat;
  background-size: contain;
}

/* .checkRound::after {
  content: '';
  background: url('/icon/勾选框-未勾选.png')no-repeat;
  background-size: 100%;
} */

/* .checkRound::before,
.checkRound::after {
  content: '';
  width: 100px;
  height: 100px;
  background-size: 100%;
} */



.next {
  margin-bottom: 30px;
  background-color: rgb(68, 171, 142);
  border: 0;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.agree a {
  text-decoration: none;
  color: rgb(68, 171, 142);
}

/* <h4 id="P144">🅿️134-🛑API-day6-143-注册页面-验证用户名模块</h4> */
.P144 {
  width: 100%;
  height: 600px;
  background: radial-gradient(#9be9cf, #59a38d);
  /* border: solid 10px black; */
  padding-top: 10px;
}

.box {
  width: 500px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 50px;
  box-shadow: 1px 1px 10px rgb(137, 137, 137);
  padding: 40px;

}

.tab_bar {
  height: 40px;
  /* border-bottom: solid 1px black; */
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tab_bar::before {
  content: "|";
  position: absolute;
  left: 50%;
  font-size: 30px;
  font-weight: 10;
  color: rgb(136, 136, 136);
}

.tab_bar a {
  display: block;
  /* flex: 1; */
  text-decoration: none;
  /* outline: none; */
  color: inherit;
  font-size: 25px;
  /* border: solid 1px black; */
}

.tab_bar a:last-child {
  text-align: end;
}

.active {
  border-bottom: solid 3px rgb(68, 171, 142);
  ;
}

.tab_pane_1 {
  /* display: none; */
  /* border: solid 1px rgb(68, 171, 142); */
}

.telCode {
  display: block;
  text-decoration: none;
  color: inherit;
  /* border: solid 1px rgb(68, 171, 142); */
  margin-top: 10px;
  color: #59a38d;
  text-align: end;
}

.denglu {
  margin-top: 10px;
  /* border: solid 1px rgb(68, 171, 142); */

}

.denglu input {
  box-sizing: border-box;
  font-size: 20px;
  padding-left: 40px;
  /* padding: 0; */
  width: 500px;
  height: 50px;
  outline: none;
  border-radius: 0;
  border: solid 1px #59a38d;
}

.denglu input::placeholder {
  color: rgb(200, 200, 200);
  font-size: 20px;
  /* padding-left: 20px; */
}

.Name {
  background: url('/icon/icon-information.png') no-repeat;
}

.Pass {
  background: url('/icon/icon-password.png') no-repeat;
}

.Name,
.Pass {
  background-size: 6%;
  background-position: 2px;
}


.tongyi {
  display: flex;
  justify-content: center;
  align-items: center;
}


.AGree {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* border: solid 1px #59a38d; */
  cursor: pointer;
}

.AGree::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/icon/勾选框-未勾选.png')no-repeat center;
  background-size: 100%;
}

.AGreed::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/icon/勾选框-勾选.png')no-repeat center;
  background-size: 100%;
}

.tongyiText {
  display: inline-block;
  margin-left: 10px;
}

.dengluButton {
  display: block;
  width: 500px;
  height: 50px;
  background-color: #7CC6B0;
  color: white;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  /* font-size: 20px; */
}

.denglu span {
  display: block;
  margin: 5px;
  color: red;
  padding-left: 20px;
  margin-top: 5px;
}

.beizhu {
  display: flex;
  justify-content: space-between;
}

.beizhu a {
  margin-top: 20px;
  text-decoration: none;
  color: rgb(68, 171, 142);
}

.tab_pane_2 {
  /* border: solid 1px rgb(68, 171, 142); */
  width: 500px;
  height: 350px;
  background-color: white;
  display: none;
}

.image {
  margin: auto;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  /* border: solid 1px rgb(68, 171, 142); */
}

.image img {
  width: 100%;
  height: 100%;
}


.tab_pane_2 p {
  display: block;
  font-size: 17px;
  text-align: center;
  color: rgb(68, 171, 142);
}


/* <h4 id="Ptest">🟡input中的icon实验</h4> */
.test0 {
  margin: auto;
  border: 1px solid black;
  width: 400px;
  padding: 10px;
  border-radius: 10px;

}

.test1 {
  background: url('/icon/帐户.png')no-repeat;
}

.test2 {
  background: url('/icon/信息.png')no-repeat;
}

.test3 {
  background: url('/icon/标签.png')no-repeat;

}

.test1,
.test2,
.test3 {
  background-position: 1px;
  background-size: 10%;
  padding-left: 20px;
  margin-top: 10px;
  border: 1px solid rgb(123, 123, 123);
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

label {
  cursor: pointer;

}

.test4 {
  display: block;
  margin-right: 10px;
  /* margin: auto; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 225px;
  cursor: pointer;
}