/* >🅿️125-APIs-day5-🛑学生信息表上下集 */

h3 {
  text-align: center;
}

.info {
  width: 800px;
  margin: auto;
  border: 1px solid black;
}

.tab {
  width: 800px;
  margin: auto;
  border: 1px solid black;
}

.tab tbody tr {
  text-align: center;
  padding: 0px;
  margin: 0px;
}