/* 🅿️105-🛑API-day3-104-表单全选反选案例(css input的checked选择器，勾选谁，谁变大) */
.P_105 {
  margin: auto;
  border: solid 1px black;
  border-collapse: collapse;
  cursor: pointer;
}

.P_105 tr th,
td {
  width: 120px;
  text-align: center;
}

.P_105 tr th {
  background-color: rgb(72, 182, 233);
  color: white;
  height: 25px;

}

.P_105 tr td {
  border: solid 1px rgb(167, 167, 167);
  height: 35px;
  text-align: center;
}

.P_105 tr:hover {
  background-color: rgb(243, 243, 243);
}






/* 🅿️114-🛑API-day3-114-仿京东滑动以及bilibili导航滑动案例 */
.P114 {
  height: 200px;
  width: 500px;
  border: solid 1px rgb(135, 135, 135);
  border-radius: 10px;
  margin: auto;
  position: relative;
  overflow: scroll;
}

/* 未用absolute绝对定位，head直接显示在盒子顶，就是正常排布*/
.head {
  height: 30px;
  width: 500px;
  background-color: rgb(72, 182, 233);
  /* position: absolute; */
  top: -30px;
  box-shadow: 1px 0px 5px .1px rgb(214, 214, 214);
  z-index: 1;
  text-align: center;
  line-height: 1.8;
  color: white;
  transition: all .2s;
}

.fixed {
  top: 0px;
  position: sticky;
}


.content {
  height: 30px;
  width: 160px;
  position: absolute;
  border: solid 1px black;
  background-color: rgb(255, 181, 112);
  color: white;
  left: 50%;
  transform: translate(-50%, 0);
  top: 130px;
  text-align: center;
  line-height: 2;
}

.background {
  height: 500px;
  width: 300px;
  background-color: rgb(244, 244, 244);
  margin: auto;
  position: absolute;
  z-index: -10;
  left: 50%;
  transform: translate(-50%, 0);
}

/* bilibili */
.bilibili {
  height: 230px;
  width: 500px;
  border: solid 1px rgb(135, 135, 135);
  border-radius: 10px;
  margin: auto;
  /* padding: 0; */
  background-image: url("./P97轮播图图片/1.JPG");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.back {
  height: 40px;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  /* border: solid 1px rgb(255, 0, 0); */
  top: 0px;
  opacity: .4;
}

.slide {
  height: 30px;
  width: 100%px;
  margin: 0;
  margin-top: 5px;
  /* border: solid 1px rgb(255, 0, 0); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  /* margin: 0; */
  /*⚠️ offsetLeft相对父级得加relative相对位置 */
  position: relative;

}

.slide li {
  flex: 1;
  display: block;
  height: 100%;
  list-style: none;
  /* width: 200px; */
  border-right: solid 1px rgb(233, 233, 233);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: rgb(194, 194, 194);
}

.slide li:last-child {
  border-right: none;

}

.slide li:hover {
  color: white;
}

.slide .red {
  color: white;
}

.stick {
  height: 5px;
  width: 100px;
  background-color: white;
  transition: all .2s;
  margin-left: 11px;
  border-radius: 2.5px;
  /* transform: translateX(30px); */
}

/* .tupian {
  height: 230px;
  width: 500px;
  position: absolute;
}

.tupian img {
  width: 100%;
  height: 100%;
  border-top: solid 1px rgb(135, 135, 135);
  object-fit: cover;
} */