.P142 {
  border: solid 1px black;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  padding: 20px 0;
}

.msg {
  display: block;
  color: red;
  /* border: solid 1px black; */
  width: 500px;
  height: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;
  /* margin-bottom: 10px; */
}

.checkCode {
  position: relative;
}

.code {
  position: absolute;
  top: 15px;
  right: 40px;
  text-decoration: none;
  color: rgb(68, 171, 142);
}

.P142 input {
  display: block;
  margin: 10px auto;
  margin-bottom: 6px;
  width: 300px;
  height: 50px;
  padding-left: 50px;
  border: solid 1px rgb(141, 141, 141);
  font-size: 18px;
  border-radius: 5px;
}

.P142 ::placeholder {
  color: rgb(167, 167, 167);
}

.name {
  background: url('/icon/people.png') no-repeat;

}

.tel {
  background: url('/icon/phone.png') no-repeat;
}

.message {
  background: url('/icon/tips.png') no-repeat;
}

.password {
  background: url('/icon/lock.png') no-repeat;
}

.again {
  background: url('/icon/lock.png') no-repeat;

}

.name,
.tel,
.message,
.password,
.again {
  background-position: 10px;
  background-size: 8%;
}

.agreeBOx .gouxuan {
  height: 15px;
  width: 20px;
  display: inline;

  margin-top: 30px;
  margin-left: 20px;
}

.agreeBOx .agree {
  display: inline;
}

.P142 button {
  display: block;
  width: 360px;
  height: 50px;
  margin: 20px auto;
}

.next {
  margin-bottom: 30px;
  background-color: rgb(68, 171, 142);
  border: 0;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.agree a {
  text-decoration: none;
  color: rgb(68, 171, 142);
}

/* 实验 */
.test0 {
  margin: auto;
  border: 1px solid black;
  width: 400px;
  padding: 10px;
  border-radius: 10px;

}

.test1 {
  background: url('/icon/帐户.png')no-repeat;
}

.test2 {
  background: url('/icon/信息.png')no-repeat;
}

.test3 {
  background: url('/icon/标签.png')no-repeat;

}

.test1,
.test2,
.test3 {
  background-position: 1px;
  background-size: 10%;
  padding-left: 20px;
  margin-top: 10px;
  border: 1px solid rgb(123, 123, 123);
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

label {
  cursor: pointer;

}

.test4 {
  display: block;
  margin-right: 10px;
  /* margin: auto; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 225px;
  cursor: pointer;
}