.countdown {
  width: 300px;
  height: 400px;
  border: solid 1px black;
  margin: auto;
  background-color: rgb(145, 29, 42);
  border-radius: 10px;
}

/* .countdown .clock i {
  color: white;
} */

p,
span,
i {
  color: white;
  text-align: center;
  /* border: solid 1px white; */
}

.ads {
  font-size: 40px;
}

.data {
  margin-top: 30px;
  font-size: 20px;
}

span {
  display: inline-block;
  width: 40px;
  background-color: black;
  padding: 3px;
  font-size: 30px;
}

i {
  font-size: 30px;
  font-style: normal;
}

.deadline {
  margin-top: 90px;
  font-size: 20px;
}


input[type="text"] {
  display: block;
  margin: 40px auto;
  padding: 0;
  height: 55px;
  width: 80%;
  background-color: rgb(145, 29, 42);
  border: 1;
  color: white;
  text-align: center;
  font-size: 40px;
  border: 0;
  outline: none;
}

input[type="datetime-local"] {
  display: block;
  width: 270px;
  margin: auto;
  margin-top: 90px;
  font-size: 20px;
  background-color: rgb(145, 29, 42);
  border: 0;
  color: white;
}


/* 实验 */
.test {
  width: 200px;
  height: 40px;
  background-color: rgb(145, 29, 42);
  font-size: 20px;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
}

.timecollect {
  /* border: solid 1px black; */
  padding: 5px;
  background-color: rgb(145, 29, 42);
  border-radius: 10px;

}