<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Vue核心技术与实战/day_3.css">
  <title>day_3</title>
</head>

<body>
  <hr>
  <h3>🟢P35-第三天课程介绍</h3>


  <hr>
  <h3>🟢P36-生命周期和生命周期的四个阶段</h3>
  <div class="jietu">
    <!-- <img src="../lesson_images/1.png" alt=""> -->
    <br>
    <img src="../lesson_images/2.png" alt="">
  </div>

  <br>
  <h4>小🐲代码操作（8个钩子函数）</h4>
  <span>beforeCreate()/created()/beforeMount()/mounted()</span>
  <span>beforeUpdate()/updated()/beforeDestroy()/destroyed()</span>
  <div class="jishiqi" id="app_36">
    <h3>{{title}}</h3>
    <button @click="count--">-</button>
    <span>{{count}}</span>
    <button @click="count++">+</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_36 = new Vue({
      el: '#app_36',
      data: {
        title: '计时器',
        count: 100,
      },
      // 1.（检测数据）创建阶段准备数据
      beforeCreate() {
        console.log('beforeCreat数据创建前:', this.title);
      },
      created() {
        console.log('Created数据创建后:', this.title);

      },
      // 2.（检测dom）挂在阶段渲染模板
      beforeMount() {
        console.log('beforeMount模板创建前:', document.querySelector('.jishiqi h3').innerHTML);
      },
      mounted() {
        console.log('mounted模板创建后:', document.querySelector('.jishiqi h3').innerHTML);

      },
      // 3.（检测dom）更新阶段，修改数据，dom更新，更新视图
      beforeUpdate() {
        console.log('bbeforeUpdate数据更新前:', document.querySelector('.jishiqi span').innerHTML)
      },
      updated() {
        console.log('updated数据更新后:', document.querySelector('.jishiqi span').innerHTML)

      },
      // 4.销毁阶段，销毁实例
      beforeDestroy() {
        // 在console中用 app_36.$destroy()操作
        console.log('beforeDestroy')
      },
      destroyed() {
        console.log('destroyed')

      }
    })
  </script>


  <hr>
  <h3>🟢P37-生命周期两个例子-初始化渲染created()和自动获取焦点mounted()</h3>

  <h4>小🐲写案例</h4>
  <div class="P37" id="app_P37">
    <div class="left">

      <ul>
        <li v-for="(item,index) in list" :key="item.id">
          <div class="left_content">
            <div class="title">{{item.title}}</div>
            <div class="zhujiao">
              <span>{{item.source}}</span>
              <span>{{item.time}}</span>
            </div>
          </div>
          <div class="right_content">
            <img :src="item.img" alt="">
          </div>
        </li>

      </ul>
    </div>
    <div class="right">
      <img src="/icon/icon-password.png" alt="">
      <div class="search_area">
        <input type="text" class="inp"><button>搜索一下</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const app_P37 = new Vue({
      el: '#app_P37',
      data: {
        list: [],
      },
      // ①created项目启动前，数据加载后，请求数据
      async created() {
        const res = await axios({ url: 'http://hmajax.itheima.net/api/news' });
        console.log(res.data.data);
        this.list = res.data.data;
      },

      // ②mounted自动获取焦点,dom模板创建后，可以操作dom元素input，再进行焦点锁定。
      mounted() {
        document.querySelector('.inp').focus();
      }

      // 储存储存
    })
  </script>



  <hr>
  <h3>🟣P38-小黑记账清单-渲染&添加&删除</h3>
  <h4>小🐲记账清单</h4>
  <div class="p38" id="app_38">
    <div class="jizhang">
      <div class="shuru">
        <input v-model.trim="name" type="text" name="" id="" placeholder="消费名称">
        <input v-model.number="price" type="text" name="" id="" placeholder="消费价格">
        <button @click="add">添加账单</button>
      </div>
      <div class="biaoge_head">
        <table>
          <thead>
            <tr>
              <th>编号</th>
              <th>消费名称</th>
              <th>消费价格</th>
              <th>操作</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="biaoge_body">
        <table>

          <tbody v-if="zhangdan.length>0">
            <tr v-for="(item,index) in zhangdan" :key="item.id">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td :class="{red:item.price>500}">{{item.price.toFixed(2)}}</td>
              <td><a href="" @click.prevent="delet(item.id)">删除</a></td>
            </tr>

          </tbody>
          <tbody v-else class="zanwushuju">
            <tr>
              <td>暂无数据</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="biaoge_foot">
        <table>
          <tbody>
            <tr>
              <td>消费总计：{{totalPrice.toFixed(2)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="chart_box" id="main_chart"></div>
  </div>


  <!-- <div class="big">
    <div class="a"></div>
    <div class="chart-box" id="main_chart"></div>
  </div> -->


  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- 接口文档： -->
  <!-- https://www.apifox.cn/apidoc/shared-24459455-ebb1-4fdc-8df8-0aff8dc317a8/api-53371058 -->
  <!-- 图标echart包 -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
  <!-- <script src="../echarts.min.js"></script> -->


  <script>
    const app_38 = new Vue({
      el: '#app_38',
      data: {
        zhangdan: [],
        // zhangdan: [
        //   { id: 1, name: '手表', price: '4000' },
        //   { id: 2, name: '手机', price: '453' },
        //   { id: 3, name: '电视', price: '563' },
        //   { id: 4, name: '沙发', price: '23' },
        //   { id: 5, name: '电脑', price: '4352' },
        //   { id: 6, name: '笔记本', price: '3435' },
        //   { id: 7, name: '牛奶', price: '23' },
        //   { id: 8, name: '塑料袋', price: '323' },
        // ]
        name: '',
        price: '',
      },
      // 计算属性-计算总价
      computed: {
        totalPrice() {
          return this.zhangdan.reduce((sum, item) => sum + item.price, 0)
        }
      },
      // ①数据初始化后就发送get请求，获取账单列表
      created() {
        // 需要封装起来，多次调用：1-页面启动调用，2-添加数据调用
        // const res = await axios(
        //   {
        //     url: 'https://applet-base-api-t.itheima.net/bill',
        //     params: { creator: '龙龙' }
        //   })
        // console.log(res)
        // this.zhangdan = res.data.data;
        this.getlist();
      },
      mounted() {
        this.mychart = echarts.init(document.querySelector('#main_chart'));
        this.mychart.setOption({
          title: {
            text: "小🐲记账请打",
            left: 'center',
          },
          tooltip: {
            trigger: 'item'
          },
          legend: {
            top: '5%',
            left: 'center'
          },
          series: [
            {
              name: '小🐲记账清单',
              type: 'pie',
              radius: ['30%', '60%'],
              avoidLabelOverlap: false,
              itemStyle: {
                borderRadius: 5,
                borderColor: '#fff',
                borderWidth: 3
              },
              label: {
                show: false,
                position: 'center'
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: 40,
                  fontWeight: 'bold'
                }
              },
              labelLine: {
                show: false
              },
              data: [
                { value: 1048, name: 'Search Engine' },
                { value: 735, name: 'Direct' },
                { value: 580, name: 'Email' },
                { value: 484, name: 'Union Ads' },
                { value: 300, name: 'Video Ads' }
              ]
            }
          ]
        })
      },

      methods: {
        // 发请求get拉取数据
        async getlist() {
          const res = await axios(
            {
              url: 'https://applet-base-api-t.itheima.net/bill',
              params: { creator: '龙龙' }
            })
          console.log(res)
          this.zhangdan = res.data.data;

        },
        // ①发送添加数据请求post
        async add() {
          // 1验证消费名称
          if (this.name === '') {
            alert("请输入消费名称")
            return
          }
          // 2验证消费价格
          if (this.price === '') {
            alert("请输入消费价格")
            return
          }
          // 3发送添加数据请求post
          // 这里创建的res的变量其实没啥用
          const res = await axios(
            {
              url: 'https://applet-base-api-t.itheima.net/bill',
              method: 'post',
              data: {
                creator: '龙龙',
                name: this.name,
                price: this.price,
              }
            });

          // ②后端数据post已修改，重新拉取get数据
          this.getlist();
          this.name = '';
          this.price = '';

        },
        // ③发送删除数据据请求delet
        async delet(id) {
          // console.log(id)
          const res = await axios(
            {
              url: `https://applet-base-api-t.itheima.net/bill/${id}`,
              method: 'delete',
            })
          this.getlist();
        }
      }
    })
  </script>






  <hr>
  <h3>🟣P39-小黑记账清单-饼图渲染</h3>

  <hr>
  <h3>🟢P40-工程化开发和脚手架</h3>

  <hr>
  <h3>🟢P41-项目目录介绍和运行流程</h3>

  <hr>
  <h3>🟢P42-组件化开发和根组件</h3>

  <hr>
  <h3>🟢P43-普通组件的注册-局部注册</h3>

  <hr>
  <h3>🟢P44-普通组件的注册-全局注册</h3>

  <hr>
  <h3>🟣P45-小兔仙首页-拆分模块组件-局部注册</h3>

  <hr>
  <h3>🟣P46-小兔仙首页-实现结构和样式并拆分样式</h3>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>

</html>