<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue_day1</title>
  <link rel="stylesheet" href="/Vue核心技术与实战/day_1.css">
</head>

<body>
  <h3>🟣P20-20 综合案例-小黑记事本</h3>
  <div class="jishiben" id="note">
    <h2>小🐲记事本</h2>
    <section class="main">
      <div class="header">
        <input @keyup.enter="addnew" v-model.trim="todoname" class="write" type="text" placeholder="请输入任务" /><button
          class="add" @click="addnew">添加任务</button>
      </div>
      <div class="seciton">
        <ul class="todolist">
          <li class="todo" v-for="(item,index) in plan" :k="item.id">
            <div class="view">
              <span class="index">{{index+1}}.<label>{{item.name}}</label></span>
              <button class="destory" @click="delet(item.id)">X</button>
            </div>
          </li>
          <!-- <li class="todo">
            <div class="view">
              <span class="index">1. <label>跑步20分钟</label></span>
              <button class="destory">X</button>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="footer">
        <section v-show="plan.length>0">
          <span>合计：<span>{{plan.length}}</span></span>
          <button @click="clear">清空任务</button>
        </section>
      </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const note = new Vue({
      el: "#note",
      data: {
        todoname: '',
        plan: [
          { id: 1, name: '跑步一公里' },
          { id: 2, name: '写码一小时' },
          { id: 3, name: '学英语2小时' },
        ]
      },
      methods: {
        // ①添加任务
        addnew() {
          // ①判断
          if (this.todoname.trim() === '') {
            alert("请输入你的计划")
            return
          }
          // ②给数组第一位添加元素
          this.plan.unshift({
            id: +new Date(),
            name: this.todoname,
          });
          // ③清空输入框
          this.todoname = '';
        },
        // ②删除任务
        delet(x) {
          this.plan = this.plan.filter(item => item.id !== x);
        },
        // ③清空任务
        clear() {
          this.plan = [];
        },
        // ④无任务时候隐藏底部信息

      }
    })

  </script>






  <br>
  <hr>



  <h3>🟢P4-004创建一个Vue实例：</h3>
  <!-- 1-准备容器 -->
  <div id="app">
    <h1>
      标题中的：{{msg}}；
    </h1>
    正文中的：{{msg}}；
  </div>

  <!-- 2-引入官网开发版本包 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "Hello vue"
      }
    })
  </script>
  <hr>


  <h3>🟢P5-005插值表达式：{{}}</h3>
  <div id="app_2">
    <p>名字：{{msg}}</p>
    <p>大写：{{msg.toUpperCase()}}</p>
    <p>拼接字符串：{{msg+'你好'}}</p>
    <p>比较运算符：{{msg}}是{{age>=18?'成年':'未成年'}}人</p>
    <p>对象的值：{{msg}}的朋友是{{friend.name}}</p>
    <p>对象的值：{{friend.name}}喜欢{{friend.hobby}}</p>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_2 = new Vue({
      el: "#app_2",
      data: {
        msg: "xielong",
        age: 10,
        friend: {
          name: 'lele',
          hobby: '热爱学习',
        }
      }
    })
  </script>
  <hr>


  <h3>🟢P6-006vue响应式特征</h3>
  <p>(响应式：console控制带修改实例属性值，页面自动渲染更新)</p>
  <div id="app_3">
    <p>响应式特点，console值改变，试图自动重新渲染：{{msg}}</p>
    <p>响应式特点，console值改变，试图自动重新渲染：{{count}}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_3 = new Vue({
      el: '#app_3',
      data: {
        msg: "hello world",
        count: 1,
      }
    });
  </script>
  <hr>


  <h3>🟢P7-007开发者工具安装</h3>
  <p>给chrome浏览器安装了vue插件，这样通过控制台的vue修改对象值就方便了</p>
  <hr>


  <h3>🟢P8-08指令初识和v-html:解析标签</h3>
  <p>v-html是动态解析标签元素，就是innerHtml</p>
  <div id="app_4">
    ❌错误解析：{{}}插值表达式不具备解析标签的能力，会以文本的形式渲染msg
    <div>{{msg}}</div>
    <br>
    ✅正确解析：v-html可以解析标签
    <div v-html="msg">{{msg}}</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_4 = new Vue({
      el: '#app_4',
      data: {
        msg: `
        <a href="http://www.itheima.com">黑马程序员</a>
        `
      }
    })
  </script>
  <hr>


  <h3>🟢P9-09指令-v-show和v-if</h3>
  <p>v-show是显示与隐藏元素（开销小）底层是display：none</p>
  <p>v-if是创建与移除元素（开销大）</p>

  <div id="app_5">
    <div class="box" v-show="flag">我是v-show盒子</div>
    <div class="box" v-if="flag">我是v-if盒子</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_5 = new Vue({
      el: '#app_5',
      data: {
        flag: true,
      }
    })
  </script>
  <hr>


  <h3>🟢P10-10 v-else指令-v-else-if</h3>
  <div id="app_6">
    <p v-if="gender===1">性别：♂男</p>
    <p v-else>性别：♀女</p>
    <p v-if="score>=90">成绩评定A：奖励电脑一台</p>
    <p v-else-if="score>=70">成绩评定B：奖励周末两天</p>
    <p v-else-if="score>=60">成绩评定C：奖励零食一带</p>
    <p v-else>成绩评定D：一周不玩手机</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_6 = new Vue({
      el: '#app_6',
      data: {
        gender: 1,
        score: 80
      }
    })
  </script>
  <hr>


  <h3>🟢P11-11 指令v-on注册事件-语法1-内联语句：v-on可替换为@</h3>
  <div id="app_7">
    <button v-on:click="count--">-</button>
    <span>{{count}}</span>
    <button @click="count++">+</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_7 = new Vue({
      el: "#app_7",
      data: {
        count: 100
      }
    })

  </script>
  <hr>


  <h3>🟢P12-12 指令v-on注册事件-语法2-method中的函数名</h3>
  <div id="app_8">
    <button @click="toggle()">点击显示/隐藏</button>
    <h1 v-show="flag">{{msg}}</h1>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_8 = new Vue({
      el: "#app_8",
      data: {
        msg: "Long can twinkle.",
        flag: true,
      },
      methods: {
        toggle() {
          this.flag = !this.flag
        }
      },
    })
  </script>
  <hr>


  <h3>🟢P13-13 指令 v-on 方法传参</h3>
  <div id="app_9">
    <div class="box_2">
      <h3>小黑自动售货机</h3>
      <button @click="price(5)">可乐5元</button>
      <button @click="price(8)">雪碧8元</button>
      <p>余额{{count}}元</p>
      <button @click="renew">重新计算</button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_9 = new Vue({
      el: "#app_9",
      data: {
        count: 100,
      },
      methods: {
        price(x) {
          this.count -= x;
        },
        renew() {
          this.count = 100;
        }
      }
    });
  </script>
  <hr>


  <h3>🟢P14-14 指令 v-bind (src绑定图片地址)</h3>
  <div id="app_10">
    <img v-bind:src="imgUrl_1" v-bind:title="title_1">
    <img :src="imgUrl_2" :title="title_2">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_10 = new Vue({
      el: "#app_10",
      data: {
        imgUrl_1: '/images/1.JPG',
        imgUrl_2: '/images/3.jpeg',
        title_1: "xielong",
        title_2: "longlong",
      }
    });
  </script>
  <hr>


  <h3>🟣P15 案例-波仔的学习之旅(上下切换图片)</h3>
  <div id="app_11">
    <button v-show="index>0" @click="index--">上一张</button>
    <div class="image">
      <img :src="list[index]" alt="">
    </div>
    <button v-show="index<list.length-1" @click="index++">下一张</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_11 = new Vue({
      el: "#app_11",
      data: {
        index: 0,
        list: [
          '/new_imgs/1.jpeg',
          '/new_imgs/2.jpeg',
          '/new_imgs/3.jpeg',
          '/new_imgs/4.jpeg',
          '/new_imgs/5.jpeg',
        ]
      }
    })
  </script>
  <hr>


  <h3>🟢P16-16 指令 v-for 循环</h3>
  <div id="app_12">
    <h3>照片</h3>
    <div class="big">
      <div class="img" v-for="(item,index) in list">
        <img v-bind:src="item" alt="" v-bind:title="index">
        <h4>{{index}}</h4>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_123 = new Vue({
      el: '#app_12',
      data: {
        list: [
          '/new_imgs/1.jpeg',
          '/new_imgs/2.jpeg',
          '/new_imgs/3.jpeg',
          '/new_imgs/4.jpeg',
          '/new_imgs/5.jpeg',
        ]
      }
    })
  </script>
  <br>
  <hr>

  <h3>🟢P17-17 小黑的书架-谢龙的照片墙</h3>
  <div id="app_13">
    <h4>照片墙</h4>
    <div class="bigbox">
      <div class="group" v-for="(item,index) in info" :key="item.id">
        <p>{{item.name}}</p>
        <img v-bind:src="item.src" alt="">
        <button v-on:click="delet(item.id)">删除</button>
      </div>
    </div>
    <button v-on:click="renew">重置</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_13 = new Vue({
      el: "#app_13",
      data: {
        info: [
          { id: 0, name: "Long", src: '/P97轮播图图片/1.JPG' },
          { id: 1, name: "Le", src: '/P97轮播图图片/2.JPG' },
          { id: 2, name: "Nick", src: '/P97轮播图图片/3.JPG' },
          { id: 3, name: "Feng", src: '/P97轮播图图片/4.JPG' },
        ]
      },
      methods: {
        delet(id) {
          console.log(id);
          this.info = this.info.filter(item => item.id !== id);
        },
        renew() {
          this.info = [
            { id: 0, name: "Long", src: '/P97轮播图图片/1.JPG' },
            { id: 1, name: "Le", src: '/P97轮播图图片/2.JPG' },
            { id: 2, name: "Nick", src: '/P97轮播图图片/3.JPG' },
            { id: 3, name: "Feng", src: '/P97轮播图图片/4.JPG' },
          ]
        }
      }
    })

  </script>
  <br>
  <hr>


  <h3>🟢P18-18 指令-v-for的key 标签唯一标识符 :key="item.id"</h3>
  <br>
  <hr>

  <h3>🟢P19-19 指令-v-model=“变量” 数据与视图行程双向绑定，可以快速获取和设置表单内容</h3>
  <div id="app_14">
    账号：<input type="text" v-model="account"><br><br>
    密码：<input type="password" v-model="password"><br><br>
    <button @click="login">登陆</button>
    <button @click="reset">重置</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

  <script>
    const app_14 = new Vue({
      el: "#app_14",
      data: {
        account: '',
        password: '',
      },
      methods: {
        login() {
          console.log(this.account, this.password);
        },
        reset() {
          this.account = '';
          this.password = '';
        }
      }
    })
  </script>
  <br>
  <hr>


  <h3>🟣P20-20 综合案例-小黑记事本</h3>
















  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




</body>

</html>